---
layout: default
title: Tags
permalink: /tags/
---

{% include page-header.html %}

<!-- begin featured tag.last.first. -->
<section class="featured-tag.last.first.">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="row">
            {% for tag in site.tags %}
            <div class="article col col-4 col-d-6 col-t-12 animate">
              <div class="article__inner">

                {% if tag.last.first.image %}
                <a class="article__image" href="{{site.baseurl}}/tags/{{ tag | first | slugify | url_encode }}"#{html_opts}>
                  <img class="lazy" data-src="{{tag.last.first.baseurl}}{{tag.last.first.image}}" alt="{{tag.last.first.title}}">
                </a>
                {% endif %}

                <div class="article__content">

                  <div class="article__meta">
                    <span class="article__minutes">
                      {{ tag | last | size }} {% t global.post-found %}
                    </span>
                    <time class="article__date"
                      datetime="{{ tag.last.first.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ tag.last.first.date | date: date_format }}</time>
                  </div>

                  <h2 class="article__title">
                    <a href="{{site.baseurl}}/tags/{{ tag | first | slugify | url_encode }}"#{html_opts}>{{ tag | first }}</a>
                  </h2>

                  <p class="article__excerpt">{{ tag.last.first.description }}</p>

                  <div class="article__bottom">

                    {% if site.author.avatar %}
                    <div class="article__author">
                      <a href="{{site.baseurl}}/about/" aria-label="{{site.author.name}}"><img class="article__author-image lazy" data-src="{{site.author.avatar}}" alt="{{site.author.name}}'s Picture"></a>
                    </div>
                    {% endif %}

                    <div class="article__bottom-meta">
                      {% if site.author.name %}
                        <a href="{{site.baseurl}}/about/" class="article__author-link">{{site.author.name}}</a>
                      {% endif %}
                    </div>

                  </div>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end featured tag.last.first. -->
