/*
  Syntax Highlighting
*/

.highlight {
  border-radius: 4px;
  color: var(--code-text);
  background: var(--code-bg);

  pre { white-space: pre; overflow: auto; }

  .highlighter-rouge & {
    background: var(--code-bg);
  }

  table td {
    padding: 5px;
  }

  table pre {
    margin: 0;
  }

  .w {
    color: var(--code-text);
    background-color: var(--code-bg);
  }

  .err {
    color: var(--code-text);
    background-color: var(--code-error-bg);
  }

  .c, .ch, .cd, .cm, .cpf, .c1, .cs {
    color: var(--code-muted);
  }

  .cp {
    color: var(--code-symbol);
  }

  .nt {
    color: var(--code-symbol);
  }

  .o, .ow {
    color: var(--code-text);
  }

  .p, .pi {
    color: var(--code-text);
  }

  .gi {
    color: var(--code-string);
  }

  .gd {
    color: var(--code-symbol);
  }

  .gh {
    color: var(--code-function);
    background-color: var(--code-bg);
    font-weight: bold;
  }

  .k, .kn, .kp, .kr, .kv {
    color: var(--code-keyword);
  }

  .kc {
    color: var(--code-number);
  }

  .kt {
    color: var(--code-number);
  }

  .kd {
    color: var(--code-number);
  }

  .s, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1 {
    color: var(--code-string);
  }

  .sa {
    color: var(--code-keyword);
  }

  .sr {
    color: var(--code-function);
  }

  .si {
    color: var(--code-symbol);
  }

  .se {
    color: var(--code-symbol);
  }

  .nn {
    color: var(--code-symbol);
  }

  .nc {
    color: var(--code-symbol);
  }

  .no {
    color: var(--code-symbol);
  }

  .na {
    color: var(--code-function);
  }

  .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
    color: var(--code-number);
  }

  .ss {
    color: var(--code-string);
  }

}
