/* Buttons */
.button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font: inherit;
  border: none;
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  color: hsl(var(--primary-color), 0%,  var(--white-lightness));
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    color: hsl(var(--primary-color), 100%, 50%);
  }

  &--primary {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    background-color: hsl(var(--primary-color), 13%,  var(--dark-lightness));
    &:hover {
      color: hsl(var(--primary-color), 100%, 50%);
      background-color: hsl(var(--primary-color), 13%,  var(--dark-lightness));// hsl(from hsl(var(--primary-color), 100%, 50%) h s calc(l - 5%));// darken(nth($brand-color,2), 5%);
    }
  }

  &--middle {
    position: relative;
    padding: 24px 48px;
    width: 100%;
    max-width: 412px;
    font-family: $heading-font-family;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .2s ease;
    background-color: hsl(var(--primary-color), var(--dark-saturation), var(--dark-lightness));

    &:hover {
      color: hsl(var(--primary-color), 100%, 50%);
      background-color: hsl(var(--primary-color), 13%,  var(--dark-lightness));
    }
  }

  &--big {
    display: block;
    width: 100%;
  }
}
