---
layout: default
---

<!-- begin hero -->
{% if page.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
    </div>
    <div class="hero__content">
      <div class="row">
        <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
          <div class="archive-box">
            {% case page.type %}
              {% when 'year' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年' }}</h1>
              {% when 'month' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年%m' }}</h1>
              {% when 'day' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年%m月%d日' }}</h1>
              {% when 'category' %}
                <h1 class="archive-title">{{ page.title }}</h1>
              {% when 'tag' %}
                <h1 class="archive-title">{{ page.title }}</h1>
              {% else %}
                <h1 class="archive-title">未知类型 {{ page.type }}</h1>
            {% endcase %}
            <span class="archive-meta">{{ page.posts.size }} {% if page.posts.size < 2 %}post {% else %}posts{% endif %} found.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else if site.hero.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{site.baseurl}}{{site.hero.image}}" alt="{{page.title}}">
    </div>
    <div class="hero__content">
      <div class="row">
        <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
          <div class="archive-box">
            {% case page.type %}
              {% when 'year' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年' }}</h1>
              {% when 'month' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年%m' }}</h1>
              {% when 'day' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年%m月%d日' }}</h1>
              {% when 'category' %}
                <h1 class="archive-title">{{ page.title }}</h1>
              {% when 'tag' %}
                <h1 class="archive-title">{{ page.title }}</h1>
              {% else %}
                <h1 class="archive-title">未知类型 {{ page.type }}</h1>
            {% endcase %}
            <span class="archive-meta">{{ page.posts.size }} {% if page.posts.size < 2 %}post {% else %}posts{% endif %} found.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else if site.hero.image %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <div class="row">
        <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
          <div class="archive-box">
            {% case page.type %}
              {% when 'year' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年' }}</h1>
              {% when 'month' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年%m' }}</h1>
              {% when 'day' %}
                <h1 class="archive-title">发布于 {{ page.date | date: '%Y年%m月%d日' }}</h1>
              {% when 'category' %}
                <h1 class="archive-title">{{ page.title }}</h1>
              {% when 'tag' %}
                <h1 class="archive-title">{{ page.title }}</h1>
              {% else %}
                <h1 class="archive-title">未知类型 {{ page.type }}</h1>
            {% endcase %}
            <span class="archive-meta">{{ page.posts.size }} {% if page.posts.size < 2 %}post {% else %}posts{% endif %} found.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
      <div class="container__inner">
        <div class="row grid">
          {% for post in page.posts %}
            {% include article-content.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
