<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main> 
  <!-- end content -->

  <!---->
  <div class="pop">
    <i id="js-theme-switch-pop" class="pop-item ion ion-md-contrast" title="Theme Switch"></i>
    <br>
    <i class="top pop-item ion ion-ios-arrow-up" title="Top"></i>
  </div>
  {% include footer.html %}
  {% include javascripts.html %}
</body>

</html>