<!-- -&#45;&#45;-->
<!--layout: default-->
<!-- -&#45;&#45;-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">-->
<!--      <div class="archive-box">-->
<!--        {% if page.type == 'year' %}-->
<!--          <span class="archive-meta">{{ page.posts.size }} {% if page.posts.size < 2 %}post {% else %}posts{% endif %} found.</span>-->
<!--          <h1 class="archive-title">{{ page.date }}</h1>-->
<!--        {% endif %}-->
<!--        {% if page.type == 'category' %}-->
<!--          <span class="archive-meta">{{ page.posts.size }} {% if page.posts.size < 2 %}post {% else %}posts{% endif %} found.</span>-->
<!--          <h1 class="archive-title">{{ page.category }}</h1>-->
<!--        {% endif %}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">-->
<!--      <div class="container__inner">-->
<!--        <div class="row grid">-->
<!--          {% for post in page.posts %}-->
<!--            {% include article-content.html %}-->
<!--          {% endfor %}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
